<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns="http://www.springframework.org/schema/security"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.2.xsd">
		
	<http pattern="/index.jsp" security="none"/>
	<http pattern="/css/**" security="none"/>
	<http pattern="/js/**" security="none"/>
	
	<http auto-config="true">
		<intercept-url pattern="/home" access="ROLE_USER, ROLE_ADMIN" />
		<intercept-url pattern="/tests" access="ROLE_USER, ROLE_ADMIN" />
		<intercept-url pattern="/**" access="ROLE_ADMIN" />
		<logout logout-success-url="/home" logout-url="/j_spring_security_logout"/>
		<remember-me key="Levi9Code9"/>
	</http>
	
	<authentication-manager>
		<authentication-provider>
			<user-service>
				<user name="admin" password="admin" authorities="ROLE_ADMIN"/>
				<user name="user" password="user" authorities="ROLE_USER"/>
			</user-service>
		</authentication-provider>
	</authentication-manager>
	
	<beans:bean id="webexpressionHandler" 
		class="org.springframework.security.web.access.expression.DefaultWebSecurityExpressionHandler"/>
		
	<global-method-security pre-post-annotations="enabled"/>
		
</beans:beans>